default: &default
  adapter: postgresql
  pool: 5
  timeout: 5000
  username: user_name
  password:

development:
  <<: *default
  database: rss_checker_dev

test:
  <<: *default
  database: rss_checker_test

production:
  <<: *default
  database: rss_checker_prod
